
<div  class="image_preview" ng-show="showImageContainer" >
    <div class="info-full-stack alert alert-warning" ng-style="{display: infoFullStack ? 'display' : 'none' }">
        Допускается максимум 8 изображений в одном сообщении
    </div>
    <div class="">
        <!--style="overflow: hidden; display: block; height: 173px;"-->
        <div class="media_c_linkcon" >
            <div class="media_linkimg_container" ng-show="showPreloader">
                <div id="m_linkimg_loader" class="m_linkimg_loader" ></div>
            </div>
            <div ng-show="showImagePreview" style="overflow: hidden;">
                <div class="media_img_container {{bnspam}}"  ng-repeat="item in imgsStorage.items" style="min-width:90px!important; width:29%;">
                    <div   ng-style="{height: typePreview == 'large' ? '290px' : '130px'}" style="overflow: hidden;">
                        <img  ng-src="{{item.image}}"  style="width:100%;height:auto;">
                        <div class="m_linkimg_controls">

                            <div class="m_linkimg_controls_btn_group float_r" >
                                <div class="m_linkimg_controls_btn" ng-click="delItem(item.id)">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--<div ng-if="typePreview == 'small'" class="e-send-btn" ng-click="generateEnterEvent()"></div>-->

            </div>


        </div>
    </div>
</div>